/* src/styles/Phonepe.css */
.project-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
  }
  
  .project-title h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 20px;
  }
  
  .project-details {
    margin-bottom: 20px;
  }
  
  .project-details h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .download-button-container {
    margin: 20px 0;
  }
  
  .download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #45a049;
  }
  
  .video-container {
    margin: 20px 0;
  }
  
  .gallery-container {
    margin: 20px 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .gallery-image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  