/* Certification.css */

.certification {
  /* background-image: url("../images/background1.jpg");  */
  background-color: #f1f1f1;
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
}

  .certification-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .certification-card {
    background-color: #f8fafd; /* Light blue */
    border: 1px solid #bdd8e4; /* Lighter blue border */
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    opacity: 0; /* Initially invisible for animation */
    transform: translateY(20px); /* Initial position for animation */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  }
  
  .certification-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .certification-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  }
  
  .certification-card h3 {
    color: #007bff; /* Blue */
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .certification-card p {
    color: #444;
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  /* Fade-in Animation */
  .certification-card.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .certification-card {
      width: 100%;
    }
  }
  