/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.education {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.content h3 {
  font-size: 1.5rem;
  color: #012970;
  font-weight: 700;
  text-align: left;
}

.content p {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: left;
}

.content h4 {
  font-size: 1rem;
  color: #226d00;
  text-align: left;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .box {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    flex-direction: column;
    width: 100%;
  }

  .image {
    height: 150px;
  }

  .content {
    padding: 15px;
  }

  .content h3 {
    font-size: 1.3rem;
  }

  .content p {
    font-size: 1rem;
  }

  .content h4 {
    font-size: 0.9rem;
  }
}
