/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.projects {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
   
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-card.animate {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  border: 1px solid #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-details {
  padding: 20px;
  
}

.project-title {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
}

.project-description {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
}

@media only screen and (max-width: 1024px) {
  .project-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    padding: 20px;
  }

  .project-card {
    width: calc(100% - 40px);
  }

  .heading {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .project-card {
    width: calc(100% - 0px);
  }
}

.card-footer {
  
  background-color: #f9f9f9;
  text-align: center;
}

.read-more-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #0056b3;
}
